.admin-container {
    margin-top: 20vh !important;
    margin-bottom: 185px !important;
    max-width: 350px !important;
    border: 2px solid #2C7090;
    border-radius: 10px;
}

.admin-container hr {
    background-color: #05ABC4;
    height: 2px;
}

.admin-container h1 {
    font-size: 45px;
}

.admin-container input {
    border: 2px solid #2C7090;
    text-align: center;
    font-size: 18px;
}

.admin-container label {
    float: left !important;
}

.admin-label {
    width: 100px !important;
}

.admin-label-id {
    width: 73px !important;
}

.hide-show {
    color: #2C7090;
    position: relative;
    top: -34px;
    left: 280px;
    width: 18px;
    height: 20px;
    cursor: pointer;
}

.hide-show:hover {
    color: #05ABC4;
}

@media (max-width: 786px) {
    .admin-container {
        margin-top: 16vh !important;
        margin-bottom: 16vh !important;
    }
}