.social-links{
    text-decoration: none;
    font-size: 23px;
}
.footer{
    box-shadow: 0 0px 5px rgba(38, 54, 74, 0.8);
}

.developer{
    width: 120px;
    height: 30px;
}

a:hover{
    color: #2C7090 !important;
}

@media(max-width: 786px){
    .footer{
        flex-direction: column;
    }
}