.mode {
    position: fixed;
    bottom: 85px;
    right: 70px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-shadow: 0 1px 5px rgba(63, 37, 68, 0.8);
    opacity: 0.9;
    z-index: 1;
    cursor: pointer;
}
.toggle-mode{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

@media (max-width: 786px) {
    .mode{
        bottom: 176px;
    }
}