.mode {
    position: fixed;
    bottom: 15px;
    right: 18px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    opacity: 0.9;
    z-index: 1;
    cursor: pointer;
}
.toggle-mode{
    height: 33px;
    width: 33px;
    border-radius: 50%;
}