.spinner-background {
    content: "";
    position: absolute;
    top: 0px;
    width: 100%;
    height: 159vh;
    opacity: 0.7;
    z-index: 1;
}

.loading-spinner {
    position: fixed;
    top: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    width: 100%;
}